<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <layers>
        <!-- we already have all required in default config -->
        <!-- Although logically correct, galleon doesn't actually support excluding from model -->
        <!-- This is harmless, keeping the exclusion commented for reference until GAL-308 is fixed -->
        <!--<exclude name="operator-required"/>-->
        <include name="amq6-rar"/>
    </layers>

    <!-- RH-SSO server overlay -->
    <feature-group name="rh-sso-server-overlay"/>

    <!-- management -->
    <!-- remove elytron security that core-tools bring, we should be able to exclude management but we can't due to GAL-308 -->
    <!-- START workaround GAL-308 -->
    <exclude spec="core-service.management.access.identity"/>
    <feature spec="core-service.management.management-interface.http-interface">
        <param name="socket-binding" value="management-http"/>
        <unset param="http-authentication-factory"/>
        <feature spec="core-service.management.management-interface.http-interface.http-upgrade">
            <unset param="sasl-authentication-factory"/>
        </feature>
    </feature>
    <!-- END workaround GAL-308 -->
    <exclude spec="subsystem.core-management"/>
    <exclude feature-id="core-service.management.security-realm.server-identity.ssl:security-realm=ApplicationRealm"/>
    <feature-group name="os-management"/>

    <!-- messaging -->
    <feature spec="subsystem.messaging-activemq"/>
    <feature-group name="os-messaging"/>

    <!-- logging -->
    <exclude feature-id="subsystem.logging.pattern-formatter:pattern-formatter=PATTERN"/>
    <exclude feature-id="subsystem.logging.periodic-rotating-file-handler:periodic-rotating-file-handler=FILE"/>
    <feature-group name="os-logging"/>

    <!-- jberet We can't remove it... needs a default job repository -->
    <!--<feature spec="subsystem.batch-jberet">
        <unset param="default-job-repository"/>
    </feature>-->

    <!-- datasources -->
    <!-- We are not keeping the ExampleDS in the config -->
    <exclude feature-id="subsystem.datasources.data-source:data-source=ExampleDS"/>
    <feature spec="subsystem.ee.service.default-bindings">
        <unset param="datasource"/>
    </feature>

    <!-- ejb3 -->
    <feature spec="subsystem.ejb3">
        <param name="default-sfsb-cache" value="distributable"/>
        <param name="default-sfsb-passivation-disabled-cache" value="simple"/>
        <param name="default-mdb-instance-pool" value="mdb-strict-max-pool"/>
        <param name="default-resource-adapter-name" value="${ejb.resource-adapter-name:activemq-ra.rar}"/>
    </feature>
    <exclude spec="subsystem.ejb3.service.timer-service"/>

    <!-- elytron -->
    <feature-group name="os-elytron"/>

    <!-- clustering -->
    <exclude spec="subsystem.infinispan"/>
    <exclude spec="subsystem.distributable-web"/>
    <feature-group name="os-clustering"/>

    <!-- legacy security -->
    <exclude feature-id="subsystem.security.security-domain:security-domain=jaspitest"/>

    <!-- transactions -->
    <feature-group name="tx-recovery"/>

    <!-- undertow -->
    <exclude feature-id="subsystem.undertow.server.https-listener:server=default-server,https-listener=https"/>

    <!-- web-services -->
    <feature spec="subsystem.webservices">
        <param name="modify-wsdl-address" value="true"/>
        <param name="wsdl-host" value="jbossws.undefined.host"/>
    </feature>

    <feature-group name="os-socket"/>

    <feature-group name="os-undertow"/>

</config>
