<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.postgresql">
  <resources>
    <resource-root path="postgresql-jdbc.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
    <!--
      ~ CIAM-1495: Explicitly add "com.ongres.scram.client" module as
      ~ a dependency to the PostgreSQL's "org.postgresql" module to prevent
      ~ "java.lang.ClassNotFoundException" errors if using PostgreSQL JDBC
      ~ client with SCRAM-SHA-256 password authentication method. See:
      ~
      ~ * https://github.com/pgjdbc/pgjdbc/commit/befea18d153dda7814daef4e036d3f5daf8de1e5
      ~ * https://github.com/pgjdbc/pgjdbc/commit/1a89290e110d5863b35e0a2ccf79e4292c1056f8
      ~
      ~ for more details about the extra Ongres SCRAM library dependency,
      ~ required by the PostgreSQL JDBC driver, but not packaged into the
      ~ PostgreSQL driver by default.
    -->
    <module name="com.ongres.scram.client" export="true"/>
  </dependencies>
</module>
